

h1.flashy {
  color:#8470e0;
  font-family: Helvetica;
  font-style: italic;
  font-size:50px;
}

p.flashy {
  font-size:20px;
}

ul li {
  font-style:italic;
  font-size:18px;
}

.best {
  font-weight: bold;
  font-size:18px;
}

img {
  height:200px;
  width:200px;
}

p.best {
  text-align: center;
}

p.cupcake1 {
  text-align: center;
  float:right;
}

p.cupcake2 {
  text-align: center;

}

p.cupcake3 {
  text-align: center;
  float:left;
}

h2.flashy {
  text-align: center;
  color:#8470e0;
}

.contact {
  text-align: center;
  
  font-weight:bold;
}

.arr {
  text-align: right;
  position:fixed;
  bottom: 0;
  width:100%;

}

.column1 {

  color:red;
  width:100%;
}

.bottom{
  width: 100%;
  background-color: red;
}

.column2 {

  color:red;
  float:left;
  width:40%;

}
.column3 {

  color:red;
  float:left;
  width:20%;

}
.column4 {

  color:red;
  float:right;
  width:40%;

}


img.test {
  float:right;
}

img.test2 {
  float:left;
}

.intro {
  text-align: center;
}

body {
  background-color: #f3f7b7;
}
